{% extends "base.html.twig" %}
{% block title %}Project Assignment - [{{ project_info.name }}]{% endblock %}

{% block page_header %}Project Assignments - [{{ project_info.name }}]{% endblock %}

{# move to separate file later #}
{% block stylesheets %}
    <style>
        .remove_button {
            background: none!important;
            border: none;
            padding: 0!important;
            /*optional*/
            font-family: arial, sans-serif;
            /*input has OS specific font-family*/
            color: #069;
            text-decoration: underline;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block body %}
    <form id="addUserForm" method="POST">
        <label for="add_user">New Member</label><br>
        <select id="add_user" name="person_id">
            {% for non_member in non_members %}
                <option id="person_{{ non_member.id }}" value={{ non_member.id }}>{{ non_member.first_name }} {{ non_member.last_name }}</option>
            {% endfor %}
        </select>
        <input type="hidden" value="{{ project_info.id }}" name="project_id">
        <button type="submit">Add</button>
    </form>

    <table id="memberList">
        {% for member in members %}
            <tr>
                <td>{{ member.first_name }} {{ member.last_name }}</td>
                <td><input type="button" class="remove_button" name="submit" value="Remove" />
                <form id="removeUserForm_{{ member.id }}" name="removeUserForm">
                    <input type="hidden" value="{{ project_info.id }}" name="project_id">
                    <input type="hidden" value="{{ member.id }}" name="person_id">
                </form>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
    <script>
        $('#addUserForm').submit(function(e){
            addPerson(e, '{{ path("assign_person") }}');
        });

        function addPerson(e, path){
            e.preventDefault();

            var id = document.getElementById("add_user").value;
            
            $.ajax({
                url: path,
                type: 'post',
                data:$('#addUserForm').serialize(),
                success:function(result){
                    var person = document.querySelector('#person_'+id);

                    if (person !== null) {
                        person.parentNode.removeChild(person);
                    }

                    document.getElementById("memberList").innerHTML = "";
                    document.querySelector('#memberList').insertAdjacentHTML('beforeend', result);
                },
                error: function(result){
                    document.getElementById("errors").innerHTML = "";
                    document.querySelector('#errors').insertAdjacentHTML('beforeend', result);
                }
            });
        }

        $('#memberList').on('click', 'input[type="button"]', function(e){    
            e.preventDefault();
            var table_row = $(this).closest('tr');
            var parent_node = event.target.parentNode;
            var input_form = parent_node.querySelector('form[name="removeUserForm"]');
            var input_form_id = '#' + input_form.id;

            $.ajax({
                url: "{{ path('unassign_person') }}",
                type: 'post',
                data:$(input_form_id).serialize(),
                success:function(result){
                    console.log(result);
                    document.getElementById("add_user").innerHTML = "";
                    document.querySelector('#add_user').insertAdjacentHTML('beforeend', result);
                    table_row.remove();
                },
                error: function(result){
                    document.getElementById("errors").innerHTML = "";
                    document.querySelector('#errors').insertAdjacentHTML('beforeend', result);
                }
            });
        })
    </script>
{% endblock %}