{% extends "base.html.twig" %}
{% block title %}Projects{% endblock %}

{% block body %}
    <div>
        <div id="project_list">
            {% if projects %}
                <table class="generic-table table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Project Name</th>
                            <th>Budget</th>
                            <th>Tasks</th>
                        </tr>
                    </thead>
                    {% for project in projects %}
                        <tr>
                            <td>{{ project.name }}</td>
                            <td>{{ project.currency }} {{ project.budget_f }}</td>
                            <td>
                                <a href="{{ path('view_assignments', { 'id': project.id }) }}">Assignments</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                No Projects Available.
            {% endif %}
        </div>

        <div id="actions_box">
            Other Tasks: <br>
            <a href="{{ path('render_create_project') }}">Create Project</a> <br>
            <a href="{{ path('render_create_person') }}">Create Person</a>
        </div>
    </div>
{% endblock %}